<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>ComputerServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlets.ComputerServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ComputerFormServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlets.ComputerFormServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ComputerServlet</servlet-name>
		<url-pattern>/sup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ComputerFormServlet</servlet-name>
		<url-pattern>/computer/form</url-pattern>
	</servlet-mapping>
</web-app>
